


.boton{
position: relative;
top: 12px;
  margin: 0px auto 0px auto; 
  display: block; 
  background: rgba(255, 255, 255, 1.0); 
  color: rgba(44, 0, 255, 1.0); 

}







.uno{ 
  height:700px; 
  width: 80%; 
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 
 
  color: rgba(0, 0, 0, 0.0); 
  position: relative; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  background-image: url('fo4.jpg'); 
}
.cal{

  position: absolute; 
  top:150px; 
  left: 0%; 
  right: 0%; 
  bottom: 0%; 
  height: 81%; 
  width: 81%; 
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 
 


}


.mirender{

  position: absolute; 
  top: 4%; 
  left: 0%; 
  right: 0%; 
  bottom: 0%; 
  height: 20%; 
  width: 81%; 
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 

  color: rgba(0, 0, 0, 0.0); 
  z-index: 400;

}


body {
  background:#777;
  background-image: url('./fo.png');  
   

}

#background {
    width:300px;
    height:400px;
 

   
    margin:50px auto;
    -webkit-animation:bgChange 2s 2s alternate infinite;
    transition: all 2s ease;
}

button {
    border:0;
    color:#fff;
}

#result {
    display:block;
    font-family: sans-serif;
    width:230px;
    height:40px;
    margin:10px auto;
    text-align: right;
    border:0;
    background:#3b3535;
    color:#fff;
    padding-top:20px;
    font-size:20px;
    margin-left: 25px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top:10px;
}

#result:hover {
    
    cursor: text;
    
}

#first-rows {
    margin-bottom: 20px;
    position: relative;
    top:10px;
}

.rows {
    width:300px;
    margin-top:10px;
}

#delete {
    width:110px;
    height:50px;
    margin-left:25px;
    border-radius:4px;
}

/* Aligning the division and dot button properly */
.fall-back {
    margin-left:3px !important;
}

/* Aligning the addition and equals to button properly */
.align {
    margin-left: 6px !important;
}

/* Button styling */
.btn-style {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.eqn {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.first-child {
 margin-left:25px;
}


/* Adding background color to the number values */
 .num-bg {
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    border-bottom:3px solid #333;
}

 .num-bg:active {
    background:#000;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    box-shadow: inset 5px 5px 5px #555;
}

/*Adding background color to the operator values */ 
.opera-bg {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #555;
}

.opera-bg:active {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #555;
}

/*Adding a background color to the delete button */
.del-bg {
    background:#24b4de;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #399cb9;
}

.del-bg:active {
    background:#24b4de;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #399cb9;
}

/*Adding a background color to the equals to button */
#eqn-bg {
    background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #1f7a29;
}

#eqn-bg:active {
    background:#17a928;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #1f7a29;
}

@-webkit-keyframes bgChange {
    0% {
       background:#24b4de; 
    }
    
    50% {
      background:#17a928;
    }
    
    100% {
        background:#399cb9;
    }
}



.rende{

    position: absolute; 
  top: 0%; 
  left: -60%; 
  right: 0%; 
  bottom: 0%; 
  height: 40%; 
  width: 40%; 
  padding: 0px 0px 0px 0px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: rgba(0, 226, 247, 0.8); 
  color: rgba(0, 0, 0, 1.0); 
  z-index: 30;
}

#info {
position: absolute;
top: 360px;
left: : 2px;
width: 31%;
text-align: center;
z-index: 100;
display:block;
}
#info a, .button {
color: #f00;
font-weight: bold;
text-decoration: underline;
cursor: pointer 
}
.prin{
	position: relative;
	top: 0;

}


.cont {
  position: relative;
  top: -40px;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
  background-size: cover;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -24rem;
  margin-top: -26.5rem;
  width: 30rem;
  height: 53rem;
  overflow: hidden;
}